<div class="content">
  <div class="row">
    <div class="small-12 columns">

      <article>
        <div class="{{post_class}}">
          <div class="postcontent">
            {{#if image}}
            <p style="text-align: center;"><img src="{{image}}" alt="{{title}}" /></p>
            {{/if}}
            
            {{content}}
          </div>
        </div>
      </article>

    </div>
  </div>
</div>
