<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      background-color: black;
      background-image: url(/assets/images/404.png);
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: auto 100%;
    }
    #link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    #text {
      position: absolute;
      top: 50%;
      left: 70px;
      right: 50px;
      bottom: 50px;
      padding: 15px;
      padding-bottom: 50px;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 25px 50px rgba(0, 0, 0, 0.5);
      color: #ccc;
      font-family: MS Gothic;
      font-size: 16pt;
      text-align: left;
      text-shadow: 3px 3px 0 rgba(0,0,0,0.8), 0 0 1px rgba(0,0,0,0.01);
      line-height: 1.4em;
      letter-spacing: 0.65;
    }
    #logo {
      position: absolute;
      left: 10%;
      top: 10%;
      max-width: 50%;
    }

    @media (max-width: 991px) {
      #text {
        left: 0;
        right: 0;
        bottom: 0;
        padding-left: 5%;
        font-size: 13pt;
      }
      #logo {
        position: static;
        max-width: 100%;
        background-color: rgba(0,0,0,0.5);
      }
    }

    @media (max-width: 767px) {}
  </style>
</head>
<body>
  <center>
    <a href="/" id="link"></a>
    <img src="/logos/CLANNAD_White.png" id="logo" />
    <p id="text">
      'I beg your pardon, but I seem to be malfunctioning a little.<br />I was unable to find the page you are looking for.<br />If you would like, shall I return you to the front page?'
    </p>
  </center>
</body>
</html>
